/*** Fonts ***/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@font-face {
  font-family: 'Avenir';
  src: local('Avenir'), url(./assets/fonts/Avenir/AvenirNextLTPro-Regular.otf) format('opentype');
}

/*** General ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#manifiesto {
  background: #ffffff;
}
#servicios {
  background: #555;
}
#contacto {
  background: #666;
}

/*** Header ***/

header {
  position: sticky;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-color: #f5f5f5;
  z-index: 100;
  box-shadow: #32325d40 0px 6px 12px -2px, #0000004d 0px 3px 7px -3px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 24px;
  color: #000000;
  margin: 1rem;
  text-align: left;
}

.logo-header {
  width: 300px;
  height: 100%;
  animation: showLogo 0.5s ease-in-out;
}
@keyframes showLogo {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

/*** Home ***/

.banner-home {
  background-image: url(assets/img/Banners/home.jpg);
  background-size: cover;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
}

.logo-home {
  width: 400px;
  margin-bottom: 10vh;
  margin-left: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-home {
  width: 20%;
  margin-bottom: 10vh;
  margin-left: 100px;
  border: 0.5px solid;
  border-radius: 20px;
  border-color: #555;
  background-color: rgb(202, 192, 192);
  font-family: Avenir;
  padding: 15px;
}
.btn-home a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3rem;
  color: #000000;
  display: flex;
  justify-content: space-around;
}

/*** Home - Iconos ***/

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.container-icons {
  display: flex;
  justify-content: space-between;
}

.container-icon-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  text-align: center;
  font-family: Avenir;
  font-size: 20px;
}

.container div > img {
  width: 230px;
}

.container div > h2 {
  color: #79695d;
  margin-top: 3px;
  margin-bottom: 10px;
  font-size: 32px;
}
.container .btn-home {
  background-color: #f5f5f5;
}

.animation-sideToSide :hover {
  animation-duration: 3s;
  animation-name: sideToSide;
}
@keyframes sideToSide {
  0% {
    transform: rotate(-20deg);
  }
  25% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(-40deg);
  }
  75% {
    transform: rotate(20deg);
  }
}

.animation-rotate360 :hover {
  animation-duration: 3s;
  animation-name: rotate360;
}
@keyframes rotate360 {
  0% {
    transform: rotate(-360deg);
  }
}

/*** Home - Servicios ***/

.cards-container {
  display: flex;
  align-items: center;
  margin: 0 5rem;
}

/*** Contacto ***/

.contact {
  display: flex;
  justify-content: space-around;
}

.form {
  display: flex;
  flex-direction: column;
}

/*** Footer ***/

footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  height: 100px;
}

footer > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/**** SECCIÓN - SERVICIOS ****/

.banner-services {
  background-image: url(./assets/img/Banners/servicios.jpg);
  background-size: cover;
  height: calc(100vh - 90px);
}

.banner-services h1 {
  text-align: center;
}

/**** SECCIÓN - PORTFOLIO ****/

.banner-portfolio {
  background-image: url(./assets/img/Banners/portfolio.jpg);
  background-size: cover;
  height: calc(100vh - 90px);
}

.banner-portfolio h1 {
  text-align: center;
}

.cards-services{
  display: flex;
  width: 1200px;
  height: 300px;
}
.cards-services > img{
  width: 200px;
  height: 200px;
}
/*** Tarjetas del Portfolio ***/

.div-projects {
  width: 1200px;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: #ccc;
}

.div-projects-2 {
  width: 1200px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2rem;
  background-color: #ccc;
}

.img-projects {
  width: 650px;
  height: 350px;
}
